/* Layout */
#page {
  padding-bottom: 42px;
  position: relative;
}

#site-header {
  padding: 25px 0 10px 0;
  background: transparent url(../images/icon-beta.gif) 100% 0 no-repeat;
}

div#branding {
  margin-top: 0;
}

#block-level_user-user_login_logout_links {
  padding-right: 75px;
}

body.not-front #main_wrapper {
  padding-bottom: 0;
  position: relative;
}

#header_container,
#content,
#main-content,
#content-top,
#content-bottom,
#footer_wrapper {
  position: relative;
  clear: both;
}

#main_content_container {
 position: relative;
}

#footer_main {
  margin-top: 14px;
  padding-top: 21px;
}

/* node layout */
body.not-front #main-content .node .node-column {
  width: 340px;
  float: left;
}

body.not-front #main-content .node .first-col {
  padding-right: 10px;
}
body.not-front #main-content .node .last-col {
  padding-left: 10px;
}

/* Typography */
/**
 * text colors
 * #333
 * #666
 * #21a0e1
 */

/* rollover */
a:hover, ul.pager a:hover {
  color: #333;
}
/*html, body,*/
body.not-front #main-content .node {
  font: normal 14px/1.5 Arial, sans-serif;
  color: #666;
}

body.not-front #main-content .node p {
  margin: 0;
  padding: 0 0 21px 0;
}

/* heading */
body.not-front #main-content .node h2 {
  font: bold 30px/1.25em Arial, sans-serif;
  color: #21a0e1;
  margin: 0;
  padding: 0 0 21px 0;
}

body.not-front #main-content .node h2.section-title {
  font: normal 100px/1em Georgia, 'Adobe Garamond Pro', serif;
  color: #333;
  margin: 0 0 28px 0;
  padding: 21px 0 28px 0;
  border-bottom: 1px dotted #666;
}

body.not-front #main-content .node h3 {
  font: bold 20px/1.25em Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 21px 0 14px  0;
}

body.not-front #main-content .node h4 {
  font: bold 14px/1.5 Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

/* list style*/
#main-content .node ul {
  list-style: disc url(../images/bullet-list.gif);
  margin: 0 21px 21px 14px;
}

#main-content .node ol {
  margin: 0 0 21px 21px;
}
#main-content .node ol li {
  color: #21a0e1;
  font-weight: bold;
}
#main-content .node ol li span { /* need <span> to wrap around text for different color */
  color: #666;
  font-weight: normal;
}

/* Explained page */

/* tabulation */
div.bus_size {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background: #fff url(../images/tabular-top.gif) 50% 0 no-repeat;
  padding-top: 25px;
  margin-bottom: 35px;
}

.node .bus_size_heading,
div.bus_accounts_section ,
div.bus_conditions_section {
  padding: 15px 20px;
}

.node .bus_size_heading {
  margin: 0;
  border-bottom: 1px dotted #aaa;
  height: auto;
}

div.bus_accounts_section {
  border-bottom: 1px dotted #aaa;
  border-top: 0 none;
  height: 180px;
}

div.bus_conditions_section {
  background: #f0f0f0 url(../images/tabular-bottom.gif) 50% 100% no-repeat;
  height: 185px;
}

body.not-front #main-content .node .bus_size_heading h3 {
 font: bold 30px/1.25em Arial, sans-serif;
  color: #21a0e1;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
}

body.not-front #main-content .node div.bus_size h4 {
  border-top: 0 none;
  line-height: 1.25em;
  padding-bottom: 14px;
}

body.not-front #main-content .node h2,
#main-content .node a.section_link,
#main-content .node div.large h3,
#main-content .node div.medium h3,
#main-content .node div.small h3 {
  font: bold 30px/1.25em Arial, sans-serif;
}

body.not-front #main-content .node .intro {
  font: bold 20px/24px Arial, sans-serif;
}

img#terminology {
  margin-bottom: 21px;
}

#main-content .node a.section_link,
#main-content .node .intro {
  color: #21a0e1;
  padding-top: 0;
}

div.bus_size ul li {
  background: transparent;
  padding-left: 0;
}

.node-type-page #main-content div.bus_size ol {
  padding: 0;
  margin-left: 21px;
}

body.not-front #main-content .node h2.glossary-title {
  border-top: 1px dotted #666;
  padding-top: 21px;
  margin-top: 21px;
}
body.not-front #main-content .node h2.first-glossary {
  border-top: 0 none;
  padding-top: 0;
  margin-top: 0;
}

/* terminology list & table (without JS) */
#main-content .node ul.term-list,
#main-content .node ul.term-list li {
  list-style: none;
  padding-bottom: 5px;
}

#main-content .node ul.term-list {
  margin-left: 10px;
  margin-right: 10px;
}

#main-content .node dl,
#main-content .node dl.terminology {
  margin: 0;
  padding: 0 0 21px 0;
  background: 0 none;

}

#main-content .node dl.terminology .grid_1 {
  width: 220px;
}

#main-content .node dl.terminology div {
  clear: both;
  overflow: auto;
}

#main-content .node dt,
#main-content .node dd {
  font: normal 1em/1.5em Arial, sans-serif;
  padding-bottom: 0;
  display: block;
}

#main-content .node dt {
  font: bold 1em/1.5em Arial, sans-serif;
  padding-bottom: 21px;
  color: #21a0e1;
}

#main-content .node dt div,
#main-content .node dd div {
  padding: 0;
  margin: 0;
}

/* glossaryToggle JS */
#main-content .node div.terminology {
  width: 700px;
  margin: 0;
  padding: 0;
}

#main-content .node div.terminology .inner-wrapper {
  background: #fff url(../images/glossary-wrapper.png) 50% 100% no-repeat; 
  padding: 0 25px;
}
.close-button {
  background: #fff url(../images/glossary-wrapper.png) 50% 0 no-repeat; 
  display: block;
  clear: both;
  padding: 30px 25px 0 25px;
}
.close-button a {
  background: transparent url(../images/icon-close.gif) 100% 50% no-repeat;
  padding-right: 15px;
  float: right;
}

#main-content .node .termDefinition {
  position: relative;
  clerar: both;
}

#main-content .node .termDefinition h3.term  {
  font: bold 20px/1.5em Arial, sans-serif;
  padding-bottom: 14px;
  padding-top: 0;
  color: #21a0e1;
}

#main-content .node .termDefinition div.definition {
  padding-bottom: 10px;
}


/* Team page */
.node .staff-row {
  position: relative;
  clear: both;
  padding: 28px 0;
  border-top: 1px dotted #666;
}

.node #ceo {
  border-top: 0 none;
  padding-top: 0;
}

.node .staff .staff-content {
  width: 340px;
  float: left;
}

.node .even-row .staff .staff-content {
  float: right;
}

body.not-front #main-content .node .name {
  font: bold 30px/1.25em Arial, sans-serif;
  color: #21a0e1;
  padding-bottom: 0;
}

body.not-front #main-content .node .job {
  font: bold 20px/1.25em Arial, sans-serif;
  color: #333;
  padding-top: 0;
}

/* blockquote */
body.not-front #main-content .node #ceo .quote-wrapper {
  width: 302px;
  float: right;
  background: #fff url(../images/bq-top.jpg) 50% 0 no-repeat;
  padding: 9px 0 0 0;
  margin: 0 19px;
}
body.not-front #main-content .node #ceo .quote-wrapper blockquote {
  background: #fff url(../images/bq-bottom.jpg) 50% 100% no-repeat;
  padding: 0 0 30px 0;
  color: #fff;
}
body.not-front #main-content .node #ceo .quote-wrapper blockquote p {
  background: #fff url(../images/bq-content.jpg) 0 0 repeat-y;
  margin: 0;
  padding: 10px 20px;
  font: normal 28px/1.25em Georgia, 'Adobe Garamond Pro', serif;
  letter-spacing: -1px;
}

#main-content .node ul.internal-links,
#main-content .node ul.contact {
  display: block;
  clear: both;
  margin: 0;
  padding: 14px 0;
  list-style: none;
}
#main-content .node ul.internal-links li,
#main-content .node ul.contact li {
  list-style: none;
  display: inline;
  margin-right: 1.5em;
}

img.staff-doodle {
  position: absolute;
  bottom: 21px;
  right: 0;
  z-index: -1;
}

.node .even-row img.staff-doodle {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: -1;
}

/* doodle images as bg */
#ceo .staff {
  background: transparent url(../node-images/team/ceo.jpg) 100% 100% no-repeat;
}
#cmo .staff {
  background: transparent url(../node-images/team/cmo.jpg) 0 100% no-repeat;
}
#cto .staff {
  background: transparent url(../node-images/team/cto.jpg) 100% 100% no-repeat;
}

#main-content .node .investors-images {
  width: 720px;
  margin: 10px -10px;
  padding: 21px 0 42px 0;
  background: transparent url(../images/shadow-700.jpg) 50% 100% no-repeat;
}

img#advisor-image {
  margin-bottom: 0;
}

.node .advisor {
  border-top: 1px dotted #666;
  padding-top: 21px;
}
.node .first-advisor {
  border-top: 0 none;
}

#main-content .node .investors-images a {
  width: 360px;
  float: left;
}

.node .investor {
  border-top: 1px dotted #666;
  padding-top: 21px;
}
.node .first-investor {
  border-top: 0 none;
  padding-top: 0;
}

body.not-front #main-content .investor .name {
  padding-bottom: 7px;
}

/* FAQs page */
#main-content .node ul.faq-list,
#main-content .node ul.faq-list li {
  list-style: none;
  padding-bottom: 7px;
}

#main-content .node ul.faq-list {
  margin-left: 10px;
  margin-right: 10px;
}

body.not-front #main-content .node h2.faq-title {
  font: bold 20px/1.25em Arial, sans-serif;
  border-top: 1px dotted #666;
  padding-top: 21px;
}

body.not-front #main-content .node h2.first-faq {
  border-top: 0 none;
}

/* Work with us page */
.node .section-wrapper {
  margin-bottom: 21px;
}

.node #work-with-us {
  background: transparent url(../node-images/work_with_us/work-environment.jpg) 100% 100% no-repeat;
}

body.not-front #main-content .node p.work-intro {
  font: normal 35px/1.25em Georgia, 'Adobe Garamond Pro', serif;
  letter-spacing: -1px;
}

body.not-front #main-content .node #work-with-us h3.recruit-title {
  padding-top: 14px;
}

#main-content .node ul.recruiting {
  border-top: 1px dotted #666;
}

#main-content .node ul.recruiting,
#main-content .node ul.recruiting li {
  list-style: none;
  margin-left: 0;
}

#main-content .node ul.recruiting li {
  display: block;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

#main-content .node ul.recruiting li a {
  font: bold 20px/1em Arial, sans-serif;
  display: block;
  background: transparent url(../images/blue-arrow.gif) 100% 50% no-repeat;
  border-bottom: 1px dotted #666;
  padding: 14px 0;
}

#main-content .node .section-wrapper ul.contact {
  padding-bottom: 0;
}

body.not-front #main-content .node .section-wrapper h2 {
  padding-bottom: 0;
}

body.not-front #main-content .node .section-wrapper h3  {
  padding-top: 0;
}

/* images */
img.section-image {
  clear: both;
  margin-bottom: 42px;
}


/* misc */
body.not-front #main_wrapper,
body.not-front #main-content .node {
  background: transparent;
}

#top-bar {
  padding: 20px 0;
}

.page-faq #top_bar,
.page-team #top_bar,
.page-accounts-explained #top_bar,
.page-work #top_bar,
.page-work-development-manager #top_bar {
 float: right;
 padding: 20px 0;
 position: absolute;
 right: 0;
 top: 70px;
}

.page-faq h1#page-title,
.page-team h1#page-title,
.page-accounts-explained h1#page-title,
.page-work h1#page-title,
.page-work-development-manager h1#page-title {
  font: bold 20px/1em Arial, sans-serif;
  color: #333;
  text-align: right;
  float: right;
}

.hidden {
  display: none !important;
}

/* any_vote */
.block-any_vote {
  position: relative;
  width: 181px;
  min-height: 210px;
  padding: 10px 15px 15px 15px;
  margin: 20px 10px;
  float: left;
  background: #f7f7f7;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#block-any_vote-company_payment {
  margin-right: 0;
}

.block-any_vote h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}

.block-any_vote .question {
  color: #333;
  font-size: 0.85em;
  line-height: 1.25em;
}

.block-any_vote .content {
  font-size: 0.85em;
  line-height: 1.25em;
}

/* has no vote */
.block_has_no_votes .content {
  color: #21a0e1;
  font-weight: bold;
}

/* company_payment */
#block-any_vote-company_payment .question {
  margin-bottom: 0;
}

#block-any_vote-company_payment .score {
  clear: both;
  position: relative;
}

#block-any_vote-company_payment .score img {
  width: 115px;
  height: 115px;
  float: left;
  background: transparent url(../images/empty-donut.gif) 50% 50% no-repeat;
}

#block-any_vote-company_payment .widget ul {
  float: right;
  margin: 10px 5px 0 0;
  padding: 0;
}
#block-any_vote-company_payment .widget li {
  margin: 15px 0 0 0;
}

#block-any_vote-company_payment .score .percentage {
  width: 115px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  line-height: 15px;
  padding: 50px 0;
  color: #29B93C;
}

#block-any_vote-company_payment .content {
  clear: both;
  font-size: 0.85em;
  line-height: 1.25em;
}

/* override the ctools class */
.widget a.ctools-ajaxing {
	padding-right: 0 !important;
	}
	
/* options widget list */
.widget .any_vote_option_widget li a,
.widget .any_vote_option_widget li span {
  display: block;
  width: 60px;
  height: 14px;
  background: transparent url(../images/button-yes-no.gif) 0 50% no-repeat;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  line-height: 1em;
  padding: 4px 0 6px 0;
}

.widget .any_vote_option_widget li.first a,
.widget .any_vote_option_widget li.first span {
  color: #29B93C;
}
.widget .any_vote_option_widget li.first a:hover {
  color: #fff;
  background: transparent url(../images/button-yes-no.gif) -60px 50% no-repeat;
}

.widget .any_vote_option_widget li.last a,
.widget .any_vote_option_widget li.last span {
  color : #ee3322;
}
.widget .any_vote_option_widget li.last a:hover {
  color : #fff;
  background: transparent url(../images/button-yes-no.gif) 100% 50% no-repeat;
}

/* star widget */
#block-any_vote-company_qos .widget {
  margin: 0 0 7px 0;
}
.block-any_vote .widget ul.any_vote_points_widget {
  width: 183px;
  height: 32px;
  padding: 45px 0 40px 0;
}

.block-any_vote .widget .any_vote_points_widget,
.block-any_vote .widget .any_vote_points_widget li {
  margin: 5px 0;
  padding: 0;
  text-align: center;
}
.block-any_vote .widget .any_vote_points_widget li {
  display: inline;
}

.block-any_vote .widget .any_vote_points_widget li.first a {
  margin-left: 8px;
}

.widget .any_vote_points_widget a,
.widget .any_vote_points_widget span {
  display: block;
  float: left;
  width: 30px;
  height: 28px;
  margin: 2px 2px 2px 2px;
  background: transparent url(../images/vote-stars.png) 0 50% no-repeat;
  text-indent: -999em;
}
.widget .any_vote_points_widget a:hover,
.widget .any_vote_points_widget span.user_vote_score {
  display: block;
  float: left;
  width: 30px;
  height: 28px;
  background: transparent url(../images/vote-stars.png) 100% 50% no-repeat;
  text-indent: -999em;
}

/* recommend any_vote */
#block-any_vote-company_recommendation ul.any_vote_option_widget,
#block-any_vote-company_recommendation ul.result-number {
  margin: 0;
  padding: 0 15px 10px 15px;
  clear: both;
  text-align: center;
  font-weight: bold;
}

#block-any_vote-company_recommendation ul.result-number {
  padding: 10px 0 0 0;
  margin: 0 15px;
  background: #f7f7f7 url(../images/bar-chart-zero-base.gif) 0 0 no-repeat;
  position: relative;
  left: 0;
  top: -5px;
  z-index: 2;
}

#block-any_vote-company_recommendation ul.result-number li {
  display: block;
  width: 60px;
  height: 20px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  line-height: 1em;
  padding: 0;
}

#block-any_vote-company_recommendation.block_has_no_votes ul.result-number li {
  display: none;
}

#block-any_vote-company_recommendation ul.any_vote_option_widget li.first,
#block-any_vote-company_recommendation ul.result-number li.first {
  float: left;
  color: #29B93C;
}

#block-any_vote-company_recommendation ul.any_vote_option_widget li.last,
#block-any_vote-company_recommendation ul.result-number li.last {
  float: right;
  color: #ee3322;
}

#block-any_vote-company_recommendation .score {
  position: relative;
  clear: both;
  margin: 10px 15px 0 15px;
  overflow: hidden;
}

#block-any_vote-company_recommendation .score .content {
  width: 140px;
  padding: 5px 5px 10px 5px;
}

#block-any_vote-company_recommendation.block_has_no_votes .widget {
  margin-top: 20px;
}

/* Company page .view-ch-company-appointments */

.officer-name-and-age {
  overflow: auto;
}

.officer-address {
  clear: both;
}

.profile_name {
  display: block;
  float: left;
  leine-height: 16px;
  margin-right: 10px;
}

/* Director search page .view-director-search */
.view-director-search h3 {
  overflow: auto;
}
.view-director-search .views-row {
  clear: both;
}

.view-director-search a.claim_profile {
  margin-top: 3px;
}

/* claim profile links */

a.claim_profile {
  display: block;
  float: left;
  width: 78px;
  height: 16px;
  text-align: center;
  background: transparent url(../images/claim_profile_buttons.png) 50% 0 no-repeat;
  color: #fff;
  font-size: 11px;
  line-height: 16px;
  font-weight: normal;
  cursor: pointer;
}
a.claim_profile:hover {
  background: transparent url(../images/claim_profile_buttons.png) 50% 100% no-repeat;
}

a.claimed {
  background: transparent url(../images/claim_profile_buttons.png) 50% 100% no-repeat;
  cursor: text;
}

/* tooltip */
span.tooltip {
  display: block;
  font-size: 13px;
  line-height: 1.25em;
  padding: 10px;
}

span.tooltip a {
  text-decoration: underline;
}
span.tooltip a:hover {
  color: #fe0;
  text-decoration: node;
}

/* dialog */
.ui-dialog-overlay {
  background: transparent url(../images/black-50-opacity.png) 0 0 repeat;
}

/* body.section-doc */
.block-level_claim_profile {
  margin: 10px -10px;
}

body.section-doc .claimDialog .dialog-links-wrapper {
  width: 550px;
  margin: 0 55px;
}

body.section-doc .claimDialog {
  width: 660px !important;
}

body.section-doc .claimDialog p.register-intro {
  background: transparent url(../images/shadow-550.gif) 50% 0 no-repeat;
  padding: 20px 110px 10px 110px;
  margin-top: 20px;
}

body.section-doc .claimDialog .dialog-links a {
  margin: 5px 110px;
}

body.section-doc .claim-steps {
  color: #21A0E1;
  margin-bottom: 20px;
  padding-bottom: 40px;
  background: transparent url(../images/shadow-550.gif) 50% 100% no-repeat;
}

body.section-doc .claim-steps li {
  width: 160px;
  margin-right: 5px;
  float: left;
  position: relative;
}

body.section-doc .claim-steps li h3,
body.section-doc .claim-steps li p {
  margin-left: 50px;
}

body.section-doc .claim-steps li h3 {
  font-size: 20px;
  font-weight: bold;
}

body.section-doc .claim-steps li p {
  font-size: 12px;
}

body.section-doc .claim-steps .number {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 38px;
  padding-left: 18px;
  height: 56px;
  font-size: 25px;
  line-height: 38px;
  font-weight: bold;
  text-align: left;
  color: #fff;
  background: transparent url(../images/bg-step-number.png) 0 0 no-repeat;
}