/* Layout */
.container_4 {
  width: 940px;
}

#page {
  padding-bottom: 42px;
  position: relative;
}

#site-header {
  padding: 25px 0 10px 0;
  background: transparent url(../images/icon-beta.gif) 100% 0 no-repeat;
}

div#branding {
  margin-top: 0;
}

#block-level_user-user_login_logout_links {
  padding-right: 75px;
}

body.not-front #main_wrapper {
  padding-bottom: 0;
  position: relative;
}

#header_container,
#content,
#main-content,
#content-top,
#content-bottom,
#footer_wrapper {
  position: relative;
  clear: both;
}

#main_content_container {
 position: relative;
}

#footer_main {
  margin-top: 14px;
  padding-top: 21px;
}

/* node layout */
body.not-front #main-content .node .node-column {
  width: 340px;
  float: left;
}

body.not-front #main-content .node .first-col {
  padding-right: 10px;
}
body.not-front #main-content .node .last-col {
  padding-left: 10px;
}

/* Typography */
/**
 * text colors
 * #333
 * #666
 * #21a0e1
 */

/* rollover */
a:hover, ul.pager a:hover {
  color: #333;
}
/*html, body,*/
body.not-front #main-content .node {
  font: normal 14px/1.5 Arial, sans-serif;
  color: #666;
}

body.not-front #main-content .node p {
  margin: 0;
  padding: 0 0 21px 0;
}

/* heading */
body.not-front #main-content .node h2 {
  font: bold 30px/1.25em Arial, sans-serif;
  color: #21a0e1;
  margin: 0;
  padding: 0 0 21px 0;
}

body.not-front #main-content .node h2.section-title {
  font: normal 100px/1em Georgia, 'Adobe Garamond Pro', serif;
  color: #333;
  margin: 0 0 28px 0;
  padding: 21px 0 28px 0;
  border-bottom: 1px dotted #666;
}

body.not-front #main-content .node h3 {
  font: bold 20px/1.25em Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 21px 0 14px  0;
}

body.not-front #main-content .node h4 {
  font: bold 14px/1.5 Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
}

/* list style*/
#main-content .node ul {
  list-style: disc url(../images/bullet-list.gif);
  margin: 0 21px 21px 14px;
}

#main-content .node ol {
  margin: 0 0 21px 21px;
}
#main-content .node ol li {
  color: #21a0e1;
  font-weight: bold;
}
#main-content .node ol li span { /* need <span> to wrap around text for different color */
  color: #666;
  font-weight: normal;
}

/* Explained page */

/* tabulation */
div.bus_size {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  background: #fff url(../images/tabular-top.gif) 50% 0 no-repeat;
  padding-top: 25px;
  margin-bottom: 35px;
}

.node .bus_size_heading,
div.bus_accounts_section ,
div.bus_conditions_section {
  padding: 15px 20px;
}

.node .bus_size_heading {
  margin: 0;
  border-bottom: 1px dotted #aaa;
  height: auto;
}

div.bus_accounts_section {
  border-bottom: 1px dotted #aaa;
  border-top: 0 none;
  height: 180px;
}

div.bus_conditions_section {
  background: #f0f0f0 url(../images/tabular-bottom.gif) 50% 100% no-repeat;
  height: 185px;
}

body.not-front #main-content .node .bus_size_heading h3 {
 font: bold 30px/1.25em Arial, sans-serif;
  color: #21a0e1;
  padding: 0;
  margin: 0;
  position: relative;
  top: 0;
  left: 0;
}

body.not-front #main-content .node div.bus_size h4 {
  border-top: 0 none;
  line-height: 1.25em;
  padding-bottom: 14px;
}

body.not-front #main-content .node h2,
#main-content .node a.section_link,
#main-content .node div.large h3,
#main-content .node div.medium h3,
#main-content .node div.small h3 {
  font: bold 30px/1.25em Arial, sans-serif;
}

body.not-front #main-content .node .intro {
  font: bold 20px/24px Arial, sans-serif;
}

img#terminology {
  margin-bottom: 21px;
}

#main-content .node a.section_link,
#main-content .node .intro {
  color: #21a0e1;
  padding-top: 0;
}

div.bus_size ul li {
  background: transparent;
  padding-left: 0;
}

.node-type-page #main-content div.bus_size ol {
  padding: 0;
  margin-left: 21px;
}

body.not-front #main-content .node h2.glossary-title {
  border-top: 1px dotted #666;
  padding-top: 21px;
  margin-top: 21px;
}
body.not-front #main-content .node h2.first-glossary {
  border-top: 0 none;
  padding-top: 0;
  margin-top: 0;
}

/* terminology list & table (without JS) */
#main-content .node ul.term-list,
#main-content .node ul.term-list li {
  list-style: none;
  padding-bottom: 5px;
}

#main-content .node ul.term-list {
  margin-left: 10px;
  margin-right: 10px;
}

#main-content .node .profile-catagory,
#main-content .node .profile-catagory.terminology {
  margin: 0;
  padding: 0 0 21px 0;
  background: 0 none;

}

#main-content .node .profile-catagory.terminology .grid_1 {
  width: 220px;
}

#main-content .node .profile-catagory.terminology div {
  clear: both;
  overflow: auto;
}

#main-content .node dt,
#main-content .node dd {
  font: normal 1em/1.5em Arial, sans-serif;
  padding-bottom: 0;
  display: block;
}

#main-content .node dt {
  font: bold 1em/1.5em Arial, sans-serif;
  padding-bottom: 21px;
  color: #21a0e1;
}

#main-content .node dt div,
#main-content .node dd div {
  padding: 0;
  margin: 0;
}

/* glossaryToggle JS */
#main-content .node div.terminology {
  width: 700px;
  margin: 0;
  padding: 0;
}

#main-content .node div.terminology .inner-wrapper {
  background: #fff url(../images/glossary-wrapper.png) 50% 100% no-repeat; 
  padding: 0 25px;
}
.close-button {
  background: #fff url(../images/glossary-wrapper.png) 50% 0 no-repeat; 
  display: block;
  clear: both;
  padding: 30px 25px 0 25px;
}
.close-button a {
  background: transparent url(../images/icon-close.gif) 100% 50% no-repeat;
  padding-right: 15px;
  float: right;
}

#main-content .node .termDefinition {
  position: relative;
  clerar: both;
}

#main-content .node .termDefinition h3.term  {
  font: bold 20px/1.5em Arial, sans-serif;
  padding-bottom: 14px;
  padding-top: 0;
  color: #21a0e1;
}

#main-content .node .termDefinition div.definition {
  padding-bottom: 10px;
}


/* Team page */
.node .staff-row {
  position: relative;
  clear: both;
  padding: 28px 0;
  border-top: 1px dotted #666;
}

.node #ceo {
  border-top: 0 none;
  padding-top: 0;
}

.node .staff .staff-content {
  width: 340px;
  float: left;
}

.node .even-row .staff .staff-content {
  float: right;
}

body.not-front #main-content .node .name {
  font: bold 30px/1.25em Arial, sans-serif;
  color: #21a0e1;
  padding-bottom: 0;
}

body.not-front #main-content .node .job {
  font: bold 20px/1.25em Arial, sans-serif;
  color: #333;
  padding-top: 0;
}

/* blockquote */
body.not-front #main-content .node #ceo .quote-wrapper {
  width: 302px;
  float: right;
  background: #fff url(../images/bq-top.jpg) 50% 0 no-repeat;
  padding: 9px 0 0 0;
  margin: 0 19px;
}
body.not-front #main-content .node #ceo .quote-wrapper blockquote {
  background: #fff url(../images/bq-bottom.jpg) 50% 100% no-repeat;
  padding: 0 0 30px 0;
  color: #fff;
}
body.not-front #main-content .node #ceo .quote-wrapper blockquote p {
  background: #fff url(../images/bq-content.jpg) 0 0 repeat-y;
  margin: 0;
  padding: 10px 20px;
  font: normal 28px/1.25em Georgia, 'Adobe Garamond Pro', serif;
  letter-spacing: -1px;
}

#main-content .node ul.internal-links,
#main-content .node ul.contact {
  display: block;
  clear: both;
  margin: 0;
  padding: 14px 0;
  list-style: none;
}
#main-content .node ul.internal-links li,
#main-content .node ul.contact li {
  list-style: none;
  display: inline;
  margin-right: 1.5em;
}

img.staff-doo.profile-catagorye {
  position: absolute;
  bottom: 21px;
  right: 0;
  z-index: -1;
}

.node .even-row img.staff-doo.profile-catagorye {
  position: absolute;
  bottom: 21px;
  left: 0;
  z-index: -1;
}

/* doo.profile-catagorye images as bg */
#ceo .staff {
  background: transparent url(../node-images/team/ceo.jpg) 100% 100% no-repeat;
}
#cmo .staff {
  background: transparent url(../node-images/team/cmo.jpg) 0 100% no-repeat;
}
#cto .staff {
  background: transparent url(../node-images/team/cto.jpg) 100% 100% no-repeat;
}

#main-content .node .investors-images {
  width: 720px;
  margin: 10px -10px;
  padding: 21px 0 42px 0;
  background: transparent url(../images/shadow-700.jpg) 50% 100% no-repeat;
}

img#advisor-image {
  margin-bottom: 0;
}

.node .advisor {
  border-top: 1px dotted #666;
  padding-top: 21px;
}
.node .first-advisor {
  border-top: 0 none;
}

#main-content .node .investors-images a {
  width: 360px;
  float: left;
}

.node .investor {
  border-top: 1px dotted #666;
  padding-top: 21px;
}
.node .first-investor {
  border-top: 0 none;
  padding-top: 0;
}

body.not-front #main-content .investor .name {
  padding-bottom: 7px;
}

/* FAQs page */
#main-content .node ul.faq-list,
#main-content .node ul.faq-list li {
  list-style: none;
  padding-bottom: 7px;
}

#main-content .node ul.faq-list {
  margin-left: 10px;
  margin-right: 10px;
}

body.not-front #main-content .node h2.faq-title {
  font: bold 20px/1.25em Arial, sans-serif;
  border-top: 1px dotted #666;
  padding-top: 21px;
}

body.not-front #main-content .node h2.first-faq {
  border-top: 0 none;
}

/* Work with us page */
.node .section-wrapper {
  margin-bottom: 21px;
}

.node #work-with-us {
  background: transparent url(../node-images/work_with_us/work-environment.jpg) 100% 100% no-repeat;
}

body.not-front #main-content .node p.work-intro {
  font: normal 35px/1.25em Georgia, 'Adobe Garamond Pro', serif;
  letter-spacing: -1px;
}

body.not-front #main-content .node #work-with-us h3.recruit-title {
  padding-top: 14px;
}

#main-content .node ul.recruiting {
  border-top: 1px dotted #666;
}

#main-content .node ul.recruiting,
#main-content .node ul.recruiting li {
  list-style: none;
  margin-left: 0;
}

#main-content .node ul.recruiting li {
  display: block;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}

#main-content .node ul.recruiting li a {
  font: bold 20px/1em Arial, sans-serif;
  display: block;
  background: transparent url(../images/blue-arrow.gif) 100% 50% no-repeat;
  border-bottom: 1px dotted #666;
  padding: 14px 0;
}

#main-content .node .section-wrapper ul.contact {
  padding-bottom: 0;
}

body.not-front #main-content .node .section-wrapper h2 {
  padding-bottom: 0;
}

body.not-front #main-content .node .section-wrapper h3  {
  padding-top: 0;
}

/* images */
img.section-image {
  clear: both;
  margin-bottom: 42px;
}


/* misc */
body.not-front #main_wrapper,
body.not-front #main-content .node {
  background: transparent;
}

#top-bar {
  padding: 20px 0;
}

.page-faq #top_bar,
.page-team #top_bar,
.page-accounts-explained #top_bar,
.page-work #top_bar,
.page-work-development-manager #top_bar {
 float: right;
 padding: 20px 0;
 position: absolute;
 right: 0;
 top: 70px;
}

.page-faq h1#page-title,
.page-team h1#page-title,
.page-accounts-explained h1#page-title,
.page-work h1#page-title,
.page-work-development-manager h1#page-title {
  font: bold 20px/1em Arial, sans-serif;
  color: #333;
  text-align: right;
  float: right;
}

.hidden {
  display: none !important;
}

/* any_vote */
.block-any_vote {
  position: relative;
  width: 181px;
  min-height: 210px;
  padding: 10px 15px 15px 15px;
  margin: 20px 10px;
  float: left;
  background: #f7f7f7;
  border: 1px solid #ddd;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#block-any_vote-company_payment {
  margin-right: 0;
}

.block-any_vote h2 {
  font-size: 20px;
  color: #333;
  margin-bottom: 5px;
}

.block-any_vote .question {
  color: #333;
  font-size: 0.85em;
  line-height: 1.25em;
}

.block-any_vote .content {
  font-size: 0.85em;
  line-height: 1.25em;
}

/* has no vote */
.block_has_no_votes .content {
  color: #21a0e1;
  font-weight: bold;
}

/* company_payment */
#block-any_vote-company_payment .question {
  margin-bottom: 0;
}

#block-any_vote-company_payment .score {
  clear: both;
  position: relative;
}

#block-any_vote-company_payment .score img {
  width: 115px;
  height: 115px;
  float: left;
  background: transparent url(../images/empty-donut.gif) 50% 50% no-repeat;
}

#block-any_vote-company_payment .widget ul {
  float: right;
  margin: 10px 5px 0 0;
  padding: 0;
}
#block-any_vote-company_payment .widget li {
  margin: 15px 0 0 0;
}

#block-any_vote-company_payment .score .percentage {
  width: 115px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  line-height: 15px;
  padding: 50px 0;
  color: #29B93C;
}

#block-any_vote-company_payment .content {
  clear: both;
  font-size: 0.85em;
  line-height: 1.25em;
}

/* override the ctools class */
.widget a.ctools-ajaxing {
	padding-right: 0 !important;
	}
	
/* options widget list */
.widget .any_vote_option_widget li a,
.widget .any_vote_option_widget li span {
  display: block;
  width: 60px;
  height: 14px;
  background: transparent url(../images/button-yes-no.gif) 0 50% no-repeat;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  line-height: 1em;
  padding: 4px 0 6px 0;
}

.widget .any_vote_option_widget li.first a,
.widget .any_vote_option_widget li.first span {
  color: #29B93C;
}
.widget .any_vote_option_widget li.first a:hover {
  color: #fff;
  background: transparent url(../images/button-yes-no.gif) -60px 50% no-repeat;
}

.widget .any_vote_option_widget li.last a,
.widget .any_vote_option_widget li.last span {
  color : #ee3322;
}
.widget .any_vote_option_widget li.last a:hover {
  color : #fff;
  background: transparent url(../images/button-yes-no.gif) 100% 50% no-repeat;
}

/* star widget */
#block-any_vote-company_qos .widget {
  margin: 0 0 7px 0;
}
.block-any_vote .widget ul.any_vote_points_widget {
  width: 183px;
  height: 32px;
  padding: 20px 0 35px 7px;
}

.block-any_vote .widget .any_vote_points_widget,
.block-any_vote .widget .any_vote_points_widget li {
  margin: 5px 0;
  padding: 0;
  text-align: center;
}
.block-any_vote .widget .any_vote_points_widget li {
  display: block;
  float: left;
  width: 32px;
  height: 32px;
}

.widget .any_vote_points_widget a,
.widget .any_vote_points_widget span {
  display: block;
  float: left;
  width: 30px;
  height: 28px;
  margin: 2px 2px 2px 2px;
  background: transparent url(../images/vote-stars.png) 0 50% no-repeat;
  text-indent: -999em;
}

.widget .any_vote_points_widget .average-active {
  display: block;
  float: left;
  width: 30px;
  height: 28px;
  background: transparent url(../images/vote-stars.png) -30px 50% no-repeat;
  text-indent: -999em;
}

.widget .any_vote_points_widget a:hover,
.widget .any_vote_points_widget li.highlight a {
  background: transparent url(../images/vote-stars.png) 100% 50% no-repeat;
}

/* recommend any_vote */
#block-any_vote-company_recommendation ul.any_vote_option_widget,
#block-any_vote-company_recommendation ul.result-number {
  margin: 0;
  padding: 0 15px 10px 15px;
  clear: both;
  text-align: center;
  font-weight: bold;
}

#block-any_vote-company_recommendation ul.result-number {
  padding: 10px 0 0 0;
  margin: 0 15px;
  background: #f7f7f7 url(../images/bar-chart-zero-base.gif) 0 0 no-repeat;
  position: relative;
  left: 0;
  top: -5px;
  z-index: 2;
}

#block-any_vote-company_recommendation ul.result-number li {
  display: block;
  width: 60px;
  height: 20px;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 20px;
  line-height: 1em;
  padding: 0;
}

#block-any_vote-company_recommendation.block_has_no_votes ul.result-number li {
  display: none;
}

#block-any_vote-company_recommendation ul.any_vote_option_widget li.first,
#block-any_vote-company_recommendation ul.result-number li.first {
  float: left;
  color: #29B93C;
}

#block-any_vote-company_recommendation ul.any_vote_option_widget li.last,
#block-any_vote-company_recommendation ul.result-number li.last {
  float: right;
  color: #ee3322;
}

#block-any_vote-company_recommendation .score {
  position: relative;
  clear: both;
  margin: 10px 15px 0 15px;
  overflow: hidden;
}

#block-any_vote-company_recommendation .score .content {
  width: 140px;
  padding: 5px 5px 10px 5px;
}

#block-any_vote-company_recommendation.block_has_no_votes .widget {
  margin-top: 20px;
}

/* Company page .view-ch-company-appointments */

.officer-name-and-age {
  overflow: auto;
}

.officer-address {
  clear: both;
}

.profile_name {
  display: block;
  float: left;
  leine-height: 16px;
  margin-right: 10px;
}

/* Director search page .view-director-search */
.view-director-search h3 {
  overflow: auto;
}
.view-director-search .views-row {
  clear: both;
}

/* TipTip tooltip */
#tiptip_content {
  font-size: 13px;
  line-height: 1.25em;
  padding: 14px 18px 15px 18px;
}

#tiptip_content a {
  text-decoration: underline;
}

#tiptip_content a:hover {
  color: #fe0;
  text-decoration: none;
}

/* dialog */
.ui-dialog-overlay {
  background: transparent url(../images/black-50-opacity.png) 0 0 repeat;
}

/* body.section-doc */
span.IN-widget {
  margin-top: 10px;
}

body.section-doc h1#page-title {
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

body.page-doc-person h1#page-title {
  border-top: 0 none;
}

/* linkedin user associate block */
#block-level_user-level_user_profile_linkedin_driver .link-button {
  padding: 0 185px 20px 185px;
}

#block-level_user-level_user_profile_linkedin_driver a.linkedin-button {
  background: transparent url(../images/form-buttons.gif) -330px 0 no-repeat;
  display: block;
  height: 36px;
  font: bold 30px/36px Arial, sans-serif;
  text-align: left;
  letter-spacing: -1px;
  width: 273px;
  padding: 6px 0 18px 56px;
  color: #333;
}
#block-level_user-level_user_profile_linkedin_driver a.linkedin-button:hover {
  background: transparent url(../images/form-buttons.gif) -330px -60px no-repeat;
}


/* Director profile(s) */
.profile h3 {
  display: none;
}

.profile .profile-catagory {
  display: block;
  position: relative;
  width: 700px;
  clear: both;
  float: left;
}

.profile .profile-catagory h3 {
  border: 0 none;
}

.profile .appointments {
  padding: 30px 0 15px 0;
}

.profile .appointments h3 {
  display: block;
  border: 0 none;
  color: #000;
  font-size: 1em;
  padding: 0;
}

.profile .profile-catagory .director_appointment,
.profile .profile-catagory .director_appointmentcompany_dissolved {
  clear: both;
  position: realtive;
  overflow: auto;
}

/* company name */
#block-level_user-company_appointments p {
  font-size: 1em;
}
.profile .profile-catagory .director_appointment h3.profile_field_company_name ,
.profile .profile-catagory .director_appointment h3.company_dissolved,
.profile .profile-catagory .director_appointmentcompany_dissolved h3.company_dissolved,
/* new block on company page */
#block-level_user-company_appointments .director-name {
  display: block;
  clear: both;
  padding: 5px 0;
  margin: 15px 0 5px 0;
  font-size: 1.2em;
  font-weight: bold;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

#block-level_user-company_appointments .director-name h3,
#block-level_user-company_appointments .profile_field_address h3 {
  display: none;
}

#block-level_user-company_appointments .profile_field_name,
#block-level_user-company_appointments .profile_field_name p,
#block-level_user-company_appointments .profile_field_person_dob, 
#block-level_user-company_appointments .profile_field_person_dob p {
  float: left;
  width: auto;
}

#block-level_user-company_appointments .profile_field_name,
#block-level_user-company_appointments .profile_field_person_dob {
  margin-right: 10px;
}

#block-level_user-company_appointments .profile_field_address p {
  width: 100%;
  color: #999;
  font-weight: normal;
  font-size: 1em;
}

.profile .profile-catagory .director_appointment .company_dissolved,
.profile .profile-catagory .director_appointmentcompany_dissolved .company_dissolved {
  color: #999;
}
.profile .profile-catagory .director_appointment .company_dissolved em,
.profile .profile-catagory .director_appointmentcompany_dissolved .company_dissolved em {
  color: #000;
  font-style: normal;
}

/* appoinment date / type / occu */
.profile .profile-catagory .director_appointment .profile_field_appointment_date,
.profile .profile-catagory .director_appointment .profile_field_appointment_type,
.profile .profile-catagory .director_appointment .profile_field_occupation,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_appointment_date,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_appointment_type,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_occupation {
  float: left;
}

.profile .profile-catagory .director_appointment .profile_field_appointment_date h3,
.profile .profile-catagory .director_appointment .profile_field_appointment_type h3,
.profile .profile-catagory .director_appointment .profile_field_occupation h3,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_appointment_date h3,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_appointment_type h3,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_occupation h3,
/* new block on company page */
#block-level_user-company_appointments h3 {
  display: block;
  float: left;
  width: 220px;
  margin-right: 10px;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 18px;
}

.profile .profile-catagory .director_appointment .profile_field_appointment_date p,
.profile .profile-catagory .director_appointment .profile_field_appointment_type p,
.profile .profile-catagory .director_appointment .profile_field_occupation p,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_appointment_date p,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_appointment_type p,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_occupation p,
/* new block on company page */
#block-level_user-company_appointments p {
  display: block;
  float: left;
  width: 470px;
  color: #000000;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 18px;
  padding: 0;
}

.company_director_appointment > div {
  overflow: auto;
}

/* identification */
.profile .identification {
  font-size: 12px;
  line-height: 15px;
  padding-top: 10px;
}
.profile .identification h4 {
  color: #999;
  text-transform: capitalize;
  font-weight: normal;
  padding: 10px 0 3px 0;
}

.profile .identification .content {
  color: #000;
  font-weight: normal;
}
.profile .identification .identification-top .content {
  color: #000;
  font-weight: bold;
}

.profile .identification .profile_field_nationality,
.profile .identification .profile_field_person_dob {
  float: left;
  width: 220px;
  margin-right: 10px;

}

/* withhold tooltip */
.profile .identification .field_hidden .content span,
.profile .profile-catagory .field_hidden p span,
.director_appointment .field_hidden p span {
  font-weight: bold;
  color: #000;
  cursor: help;
}

/* change title color */
body.section-doc h1#page-title, h1#profile-title {
  color: #333;
  border: 0 none;
  font-family: Georgia, serif;
  font-weight: normal;
  clear: both;
}

#edit-profile-hide-person-dob-wrapper.form-item,
#edit-profile-hide-occupation-wrapper.form-item,
#edit-profile-hide-address-wrapper.form-item,
#edit-profile-hide-nationality-wrapper.form-item {
  padding: 15px 0;
  overflow: auto;
  margin: 0;
  border-bottom: 1px solid #999;
}

#edit-profile-hide-person-dob-wrapper label.option,
#edit-profile-hide-occupation-wrapper label.option,
#edit-profile-hide-address-wrapper label.option,
#edit-profile-hide-nationality-wrapper label.option {
  float: left;
  width: 220px;
  margin-right: 10px;
}

/* #block-level_user-company_appointments */
#block-level_user-company_appointments {
  clear: both;
}


/* Director profile(s) */
.profile h3 {
  display: none;
}

.profile .profile-catagory {
  display: block;
  position: relative;
  width: 700px;
  clear: both;
  float: left;
}

.profile .profile-catagory h3 {
  border: 0 none;
}

.profile .appointments {
  padding: 30px 0 15px 0;
}

.profile .appointments h3 {
  display: block;
  border: 0 none;
  color: #000;
  font-size: 1em;
  padding: 0;
}

.profile .profile-catagory .director_appointment,
.profile .profile-catagory .director_appointmentcompany_dissolved {
  clear: both;
  position: realtive;
  overflow: auto;
}

/* company name */
#block-level_user-company_appointments p {
  font-size: 1em;
}
.profile .profile-catagory .director_appointment h3.profile_field_company_name ,
.profile .profile-catagory .director_appointment h3.company_dissolved,
.profile .profile-catagory .director_appointmentcompany_dissolved h3.company_dissolved,
/* new block on company page */
#block-level_user-company_appointments .director-name {
  display: block;
  clear: both;
  padding: 5px 0;
  margin: 15px 0 5px 0;
  font-size: 1.2em;
  font-weight: bold;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

#block-level_user-company_appointments .director-name h3,
#block-level_user-company_appointments .profile_field_address h3 {
  display: none;
}

#block-level_user-company_appointments .profile_field_name,
#block-level_user-company_appointments .profile_field_name p,
#block-level_user-company_appointments .profile_field_person_dob, 
#block-level_user-company_appointments .profile_field_person_dob p {
  float: left;
  width: auto;
}

#block-level_user-company_appointments .profile_field_name,
#block-level_user-company_appointments .profile_field_person_dob {
  margin-right: 10px;
}

#block-level_user-company_appointments .profile_field_address p {
  width: 100%;
  color: #999;
  font-weight: normal;
  font-size: 1em;
}

.profile .profile-catagory .director_appointment .company_dissolved,
.profile .profile-catagory .director_appointmentcompany_dissolved .company_dissolved {
  color: #999;
}
.profile .profile-catagory .director_appointment .company_dissolved em,
.profile .profile-catagory .director_appointmentcompany_dissolved .company_dissolved em {
  color: #000;
  font-style: normal;
}

/* appoinment date / type / occu */
.profile .profile-catagory .director_appointment .profile_field_appointment_date,
.profile .profile-catagory .director_appointment .profile_field_appointment_type,
.profile .profile-catagory .director_appointment .profile_field_occupation,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_appointment_date,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_appointment_type,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_occupation {
  float: left;
}

.profile .profile-catagory .director_appointment .profile_field_appointment_date h3,
.profile .profile-catagory .director_appointment .profile_field_appointment_type h3,
.profile .profile-catagory .director_appointment .profile_field_occupation h3,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_appointment_date h3,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_appointment_type h3,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_occupation h3,
/* new block on company page */
#block-level_user-company_appointments h3 {
  display: block;
  float: left;
  width: 220px;
  margin-right: 10px;
  font-size: 0.9em;
  font-weight: normal;
  line-height: 18px;
}

.profile .profile-catagory .director_appointment .profile_field_appointment_date p,
.profile .profile-catagory .director_appointment .profile_field_appointment_type p,
.profile .profile-catagory .director_appointment .profile_field_occupation p,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_appointment_date p,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_appointment_type p,
.profile .profile-catagory .director_appointmentcompany_dissolved .profile_field_occupation p,
/* new block on company page */
#block-level_user-company_appointments p {
  display: block;
  float: left;
  width: 470px;
  color: #000000;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 18px;
  padding: 0;
}

.company_director_appointment > div {
  overflow: auto;
}

/* identification */
.profile .identification {
  font-size: 12px;
  line-height: 15px;
  padding-top: 10px;
}
.profile .identification h4 {
  color: #999;
  text-transform: capitalize;
  font-weight: normal;
  padding: 10px 0 3px 0;
}

.profile .identification .content {
  color: #000;
  font-weight: normal;
}
.profile .identification .identification-top .content {
  color: #000;
  font-weight: bold;
}

.profile .identification .profile_field_nationality,
.profile .identification .profile_field_person_dob {
  float: left;
  width: 220px;
  margin-right: 10px;

}

/* hide dup titles */
body.section-users #top_bar h1#page-title, body.section-user #top_bar h1#page-title, body.section-doc h1#profile-title {
  display: none !important;
}

/* tabs */
ul.primary {
  padding: 20px 0 20px 5px;
  margin: 0 0 20px 0;
  border-bottom: 1px solid #CCC;
  height: 30px;
  display: block;
}
ul.primary li {
  border: 0 none;x
  height: 30px;
  display: block;
  float: left;
  padding: 0;
  margin: 0;
}
ul.primary li a {
  font-size: 15px;
  line-height: 15px;
  padding: 9px;
  margin: 0 15px 0 0;
  font-weight: normal;
  color: #999;
  background: #FFF;
  display: block;
  float: left;
  border: none;
}
ul.primary li a:hover {
  color: #333;
  background: #FFF;
}
ul.primary li.active a,
ul.primary li.active a:hover {
  color: #333;
  background: #F7F7F7;
  border: none;
  -moz-box-shadow: 0 0 4px 4px #EEE;
  -webkit-box-shadow: 0 0 4px 4px#EEE;
  box-shadow: 0 0 4px 4px #EEE;
}

/* #user-profile-form */
#user-profile-form legend {
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 15px;
}
#user-profile-form fieldset {
  margin-bottom: 15px;
}

#edit-profile-hide-person-dob-wrapper.form-item,
#edit-profile-hide-occupation-wrapper.form-item,
#edit-profile-hide-address-wrapper.form-item,
#edit-profile-hide-nationality-wrapper.form-item {
  padding: 15px 0;
  overflow: auto;
  margin: 0;
  border-bottom: 1px solid #999;
}

#edit-profile-hide-person-dob-wrapper label.option,
#edit-profile-hide-occupation-wrapper label.option,
#edit-profile-hide-address-wrapper label.option,
#edit-profile-hide-nationality-wrapper label.option {
  float: left;
  width: 220px;
  margin-right: 10px;
}
#edit-profile-hide-person-dob-wrapper .description,
#edit-profile-hide-occupation-wrapper .description,
#edit-profile-hide-address-wrapper .description,
#edit-profile-hide-nationality-wrapper .description {
  float: right;
  width: 450px;
}

/* #block-level_user-company_appointments */
#content-top {
  position: relative;
}
#block-level_user-company_appointments {
  clear: both;
}

/* company description block */
#block-level_user-company_description,
#block-boxes-level_profile_blurb {
  clear: both;
  margin: 0 10px 15px 0;
  padding: 0 0 40px 0;
  font-size: 1em;
  line-height: 1.5em;
  border-bottom: 1px dotted #999;
  border-top: 0 none;
}

#block-level_user-company_description {
  clear: both;
  margin-bottom: 15px;
  padding: 15px 0;
  border-bottom: 1px dotted #999;
  font-size: 1em;
  line-height: 1.5em;
}

p.date-updated {
  margin-top: 15px;
  font-size: 0.85em;
}

#top_bar h1.company-name {
  margin-top: 15px;
  padding-top: 15px;
}

#block-level_user-company_description > h2 {
  color: #000;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 10px;
}

#block-level_user-company_description a.director_edit_button,
.boxes-box-controls a {
  position: absolute;
  top: 0;
  right: 10px;
}

#block-level_user-company_description a.director_edit_button,
#boxes-box-level_profile_blurb a.edit-levels_own_profile_page,
#block-boxes-level_profile_blurb .boxes-box-controls ul.links li a,
#block-level_user-company_description a.director_add_button,
#boxes-box-level_profile_blurb input#edit-submit-1,
body.section-doc #main-content form#node-form input#edit-submit {
  display: block;
  width: auto;
  font-size: 0.9em;
  text-align: center;
  padding: 3px 15px;
  cursor: pointer;
  color: #555;
  background: #ddd;
  border: 1px solid #bbb;
  border-radius: 3px;
}

a#level_accounts_download_link,
a#level_accounts_download_link img {
  margin: 0;
  padding: 0;
}

#block-level_user-company_description p {
  padding-bottom: 1em;
  line-height: 1.6em;
}

/* LB own page */
.view-companies-house-latest-profile-2 h1.company-name {
  border-bottom: 0 none;
  margin-top: 0;
  margin-right: 90px;
  padding-top: 0;
  line-height: 1.2em;
}

#main_wrapper .view-companies-house-latest-profile-2 .views-row {
  margin: 0;
  padding: 0; 
}

#block-views-company_files-block_3 {
  /*margin-bottom: -10px;*/
}

#block-level_user-company_description.company_description_empty {
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.2em;
}

#block-level_user-company_description.company_description_empty span {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 20px;
  padding: 5px;
  border-radius: 3px;
  background: transparent;
  font-size: 0.85em;
}

#block-level_user-company_description.company_description_empty span:hover {
  background: #f0d27f;
}

/* hide various element from node-form */
#boxes-box-level_profile_blurb form label,
#boxes-box-level_profile_blurb form div.description,
#boxes-box-level_profile_blurb div#edit-description-wrapper,
#boxes-box-level_profile_blurb div#edit-title-wrapper,
#boxes-box-level_profile_blurb fieldset,
#boxes-box-level_profile_blurb div.grippie,
/* node-form */
body.section-doc #main-content form#node-form div#edit-title-wrapper,
body.section-doc #main-content form#node-form fieldset,
body.section-doc #main-content form#node-form div.admin,
body.section-doc #main-content form#node-form div#edit-private-wrapper,
body.section-doc #main-content form#node-form div.teaser-checkbox,
body.section-doc #main-content form#node-form input#edit-preview,
body.section-doc #main-content form#node-form div.grippie,
body.section-doc #main-content form#node-form input#edit-preview-changes,
body.section-doc #main-content form#node-form input#edit-delete {
  display: none !important;
}

#boxes-box-level_profile_blurb textarea#edit-body,
body.section-doc #main-content form#node-form textarea#edit-body {
  padding: 10px;
  border: 1px solid #ccc;
  overflow: hidden;
  min-height: 180px;
}

#boxes-box-level_profile_blurb input#edit-submit-1,
body.section-doc #main-content form#node-form input#edit-submit {
  float: right;
  margin-right: 15px;
  margin-bottom: 15px;
}

body.section-doc #main-content form#node-form #edit-body-wrapper label {
  font-size: 1.5em;
  color: #000;
  font-weight: bold;
  margin-bottom: 10px;
}

/* LinkedIn #block-level_platform-people_known */
#block-level_platform-people_known > h2 {
  position: relative;
  float: left;
  margin-left: 20px;
  top: 1px;
  padding: 10px;
  background: #f7f7f7;
  color: #333;
  border: 1px solid #ccc;
  border-bottom: 0 none;
  z-index: 9;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  display: none !important; /* temporal hide */
}

#block-level_platform-people_known > .content {
  clear: both;
  width: 678px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top:15px;
  background: #f7f7f7;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 5px 5px 10px #ddd;
  -webkit-box-shadow: 5px 5px 10px #ddd;
  box-shadow: 5px 5px 10px #ddd;
  overflow: hidden;
  position: relative;
  z-index: 8;
}

#block-level_platform-people_known ul.linkedin_contact_list,
#block-level_platform-people_known ul.linkedin_contact_list li {
  margin: 0;
  padding: 0;
  list-style: none;
}

#block-level_platform-people_known ul.linkedin_contact_list {

}

#block-level_platform-people_known ul.linkedin_contact_list li {
  float: left;
  margin-right: 30px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#block-level_platform-people_known ul.linkedin_contact_list li a,
#block-level_platform-people_known ul.linkedin_contact_list li a span {
  display: block;
}

#block-level_platform-people_known ul.linkedin_contact_list li a {
  width: 185px;
  float: left;
  padding: 10px;
}
#block-level_platform-people_known ul.linkedin_contact_list li a:hover {
  background: #fff;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  -moz-box-shadow: 3px 3px 5px #ddd;
  -webkit-box-shadow: 3px 3px 5px #ddd;
  box-shadow: 3px 3px 5px #ddd;
}

#block-level_platform-people_known ul.linkedin_contact_list li img,
#block-level_platform-people_known ul.linkedin_contact_list li .img-placeholder {
  display: block;
  width: 40px;
  height: 40px;
  border: 3px solid #ccc;
  float: left;
  margin-right: 10px;
}

#block-level_platform-people_known ul.linkedin_contact_list li .img-placeholder {
  background: transparent url(../images/icon_linkedin_no_photo_40x40.gif) 50% 50% no-repeat;
}

#block-level_platform-people_known ul.linkedin_contact_list li .name {
  float: left;
  font-size: 13px;
  padding: 2px 0;
}

#block-level_platform-people_known ul.linkedin_contact_list li a .name {
  color: #333;
  font-weight: bold;
}
#block-level_platform-people_known ul.linkedin_contact_list li a:hover .name {
  color: #21A0E1;
}

#block-level_platform-people_known ul.linkedin_contact_list .relationship {
  clear: both;
  padding: 10px 0 5px 0;
  font-size: 12px;
  line-height: 1.4em;
  font-weight: normal;
  color: #333;
}

#block-level_platform-people_known .contact_count {
  clear: both;
  padding: 10px 180px;
  font-size: 12px;
  line-height: 1.4em;
  font-weight: normal;
  color: #333;
  text-align: center;
}

/* jcaruosel */
.jcarousel-container-horizontal {
  width: 678px;
}

.jcarousel-prev,
.jcarousel-next {
  width: 70px;
  height: 30px;
  cursor: pointer;
  opacity: 1;
  position: absolute;
  bottom: -40px;
  z-index:  10;
}

.jcarousel-prev {
  background: transparent url(../images/carousel-prev-next.png) 0 50% no-repeat;
  left: 10px;
}

.jcarousel-next {
  background: transparent url(../images/carousel-prev-next.png) 100% 50% no-repeat;
  right: 10px;
}

.jcarousel-prev-disabled,
.jcarousel-next-disabled {
  opacity: 0.5;
  cursor: auto;
}

/* not-logged-in */
#block-level_platform-people_known > .content h3 {
  font: normal 50px/60px Georgia, 'Adobe Garamond Pro', serif;
  color: #000;
  margin-bottom: 5px;
  width: 440px;
  float: left;
}

#block-level_platform-people_known > .content p {
  float: left;
  font: normal 24px/30px Georgia, 'Adobe Garamond Pro', serif;
  margin-bottom: 20px;
  width: 440px;
  float: left;
}

#block-level_platform-people_known > .content #block-level_platform-steps_to_activate {
  float: right;
  width: 198px;
  padding: 10px;
  border: 1px solid #ccc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: #f7f7f7;
  margin-bottom: 20px;
  position: absolute;
  top: 20px;
  right: 10px;
}

#block-level_platform-people_known > .content #block-level_platform-steps_to_activate > h2 {
  font: normal 20px/25px Georgia, 'Adobe Garamond Pro', serif;
  color: #555;
  margin-bottom: 10px;
}

#block-level_platform-people_known > .content #block-level_platform-steps_to_activate .content {
  position: relative;
}

#block-level_platform-people_known > .content #block-level_platform-steps_to_activate .item-list ol {
  margin: 0 0 10px 0;
  padding: 0;
}
#block-level_platform-people_known > .content #block-level_platform-steps_to_activate .item-list ol li {
  list-style: decimal inside;
  margin: 0;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  color: #555;
  font-size: 14px;
  line-height: 16px;
}
#block-level_platform-people_known > .content #block-level_platform-steps_to_activate .item-list ol li.last {
  border-bottom: 0 none;
}
#block-level_platform-people_known > .content #block-level_platform-steps_to_activate .item-list ol li span {
  color: #999;
}

#block-level_platform-people_known > .content #block-level_platform-steps_to_activate .item-list ol li.ticked {
  background: transparent url(../images/icon-ticked.gif) 100% 50% no-repeat;
}
#block-level_platform-people_known > .content #block-level_platform-steps_to_activate .item-list ol li.unticked {
  background: transparent url(../images/icon-unticked.gif) 100% 50% no-repeat;
}

#block-level_platform-people_known > .content #block-level_platform-steps_to_activate a {
  display: block;
  float: left;
  font-size: 12px;
  padding: 7px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  color: #999;
  background: transparent url(../images/button-grey-gradient.gif) 0 0 repeat-x;
}

#block-level_platform-people_known > .content #block-level_platform-steps_to_activate a:hover {
  color: #555;
  background: transparent url(../images/button-grey-gradient.gif) 0 100% repeat-x;
}


/* New pagetools */
#page_tools {
  height: auto;
}

/* global toolbar */
#page_tools #block-level_platform-global-toolbar {
  width: 700px;
  float: right;
}

/* buttons */
#global-links-left {
  float: left;
}
#global-links-right {
  float: right;
}

#global-links-left a,
#global-links-right a {
  display: block;
  float: left;
  font-size: 11px;
  line-height: 16px;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #999;
  background: transparent url(../images/button-grey-gradient.gif) 0 0 repeat-x;
}

#global-links-left a:hover,
#global-links-right a:hover {
  color: #555;
  background: transparent url(../images/button-grey-gradient.gif) 0 100% repeat-x;
}

/* search box */
#page_tools #block-level_search-level_search_tabs {
  width: 220px;
  float: left;
  border: 0 none;
}

#page_tools #block-level_search-level_search_tabs .item-list {
  float: left;
  width: 80px;
  position: relative;
}

#page_tools #block-level_search-level_search_tabs .item-list ul,
#page_tools #block-level_search-level_search_tabs .item-list li {
  margin: 0;
  padding: 0;
}

#page_tools #block-level_search-level_search_tabs .item-list ul {
  position: absolute;
  z-index: 9;
  width: 80px;
}

#page_tools #block-level_search-level_search_tabs .item-list li {
  display: block;
  float: left;
  height: 26px;
  background: transparent url(../images/button-grey-gradient.gif) 0 0 repeat-x;
  border: 1px solid #ccc;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
#page_tools #block-level_search-level_search_tabs .item-list li:hover {
  background: transparent url(../images/button-grey-gradient.gif) 0 100% repeat-x;
}

#page_tools #block-level_search-level_search_tabs .item-list li a {
  display: block;
  width: 70px;
  font-size: 11px;
  line-height: 16px;
  padding: 5px;
  color: #999;
}

#page_tools #block-level_search-level_search_tabs .item-list li:first-child a {
  background: transparent url(../images/pin-down-7px.png) 67px 50% no-repeat;
}

#page_tools #block-level_search-level_search_tabs .item-list li a:hover {
  color: #555;
}

#page_tools #block-level_search-level_search_tabs .item-list li.active_tab {
  height: 26px;
}

#page_tools #block-level_search-level_search_tabs .item-list li.active_tab a {
  color: #000;
}

#page_tools .level_search_tabbed_form {
  width: 140px;
  margin: 0;
  padding: 0;
  font-size: 11px;
  float: left;
}

#page_tools .block-boxes,
#page_tools .block-views,
#page_tools .block-views div {
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 12px;
  float: left;
}

#page_tools #block-level_search-level_search_tabs .level_search_tabbed_form {
  display: block;
  position: relative;
  left: 82px;
}

/* text <input> */
#page_tools .level_search_tabbed_form input.form-text {
  width: 107px;
  height: 26px;
  margin: 0;
  padding: 0 4px;
  font-size: 10px;
  line-height: 16px;
  float: left;
  border: 1px solid #ccc;
  border-left: 0 none;
}

/* button <input> */
#page_tools .level_search_tabbed_form input.form-submit {
  width: 22px;
  height: 28px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  float: left;
  border: 0 none;
  background: transparent url(../images/button-page-tools-search.gif) 50% 50% no-repeat;
  cursor: pointer;
  border: 1px solid #ccc;
  border-left: 0 none;
  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#page_tools #block-level_search-level_search_tabs label {
  display: none;
}

#page_tools #block-level_search-level_search_tabs label.compact-form-label {
  display: inline;
  font-weight: normal;
  color: #999;
  font-size: 10px;
  line-height: 16px;
  top: 6px;
}

/* company info download image */
a#level_accounts_download_link {
  display: block;
  clear: both;
  height: 260px;
  overflow: hidden;
}
/* facebook / twitter */
#block-boxes-fb_like,
#block-boxes-tweet_block {
  float: right;
  margin-left: 10px;
}


/* #global-links-middle */
#page_tools #global-links-middle {
  float: left;
  border: 0 none;
  padding: 0;
  position: relative;
}

#page_tools #global-links-middle.jsEnabled #wrapInner {
  position: relative;
}

#page_tools #global-links-middle h2 {
  display: block;
  float: left;
  font-size: 11px;
  font-weight: normal;
  line-height: 16px;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #999;
  background: transparent url(../images/button-grey-gradient.gif) 0 0 repeat-x;
}

#page_tools #global-links-middle.jsEnabled #wrapInner.jsHover {
  width: 200px;
  margin-right: 10px;
  margin-left: -7px;
  padding-left: 7px;
  padding-right: 7px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  margin-top: 0px;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 111;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 3px 3px 10px #ccc;
  -webkit-box-shadow: 3px 3px 10px #ccc;
  box-shadow: 3px 3px 10px #ccc;
}

#page_tools #global-links-middle .item-list {
  display: none;
  clear: both;
}

#page_tools #global-links-middle.jsEnabled .item-list ul {
  padding: 7px 10px 10px 10px;
  margin: 0;
}

#page_tools #global-links-middle.jsEnabled .item-list ul li {
  font-size: 12px;
  line-height: 16px;
  color: #000;
  background: transparent;
  border-top: 1px solid #ccc;
  border-bottom: 0 none;
  padding: 3px 7px;
  margin: 0 -7px;
}

#page_tools #global-links-middle.jsEnabled .item-list ul li .tag_summary_tag_name {
  float: left;
}

#page_tools #global-links-middle.jsEnabled .item-list ul li .tag_summary_tag_total {
  float: right;
}

#page_tools #global-links-middle h2 {
  margin: 0;
  font-weight: normal;
  cursor: pointer;
}

#page_tools #global-links-middle.jsEnabled #wrapInner.jsHover h2 {
  background: transparent;
  border: 0 none;
  margin-top: 3px;
}

#page_tools #global-links-middle.jsEnabled .item-list ul li a {
  color: #000;
}
#page_tools #global-links-middle.jsEnabled .item-list ul li:hover a {
  color: #21A0E1;
}

/* level_tagging superfish js menu */

#page_tools #level_tagging_save_box {
	position: absolute;
}

#page_tools #level_tagging_save_box #sf_save_profile {
  margin: 0;
  padding: 0;
}

#page_tools #level_tagging_save_box #sf_save_profile li.top_item {
  background: transparent;
  border: 0 none;
}

#page_tools #level_tagging_save_box #sf_save_profile li.top_item.sfHover {
  width: 200px;
  margin-right: 10px;
  margin-left: -7px;
  padding-left: 7px;
  padding-right: 7px;
  background: #f9f9f9;
  border: 1px solid #ccc;
  margin-top: 0px;
  position: absolute;
  top: -3px;
  left: 0;
  z-index: 111;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 3px 3px 10px #ccc;
  -webkit-box-shadow: 3px 3px 10px #ccc;
  box-shadow: 3px 3px 10px #ccc;
}

#level_tagging_save_box ul#sf_save_profile li.top_item a.top_link {
  display: block;
  width: auto;
  float: left;
  font-size: 11px;
  font-weight: normal;
  line-height: 16px;
  padding: 5px 10px;
  margin: 0 10px 0 0;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #999;
  background: transparent url(../images/button-grey-gradient.gif) 0 0 repeat-x;
}
#level_tagging_save_box ul#sf_save_profile li.top_item.sfHover a.top_link {
  background: transparent;
  border: 0 none;
  margin-top: -2px;
}

#page_tools #level_tagging_save_box #sf_save_profile ul#level_tagging_save_list {
  clear: both;
  padding: 6px 10px 10px 10px;
  margin: 0;
}


#level_tagging_save_box ul#sf_save_profile li.top_item ul#level_tagging_save_list li {
  display: block;
  color: #000;
  background: transparent;
  border-top: 1px solid #ccc;
  border-bottom: 0 none;
  padding: 0;
  margin: 0 -7px;
}

#level_tagging_save_box ul#sf_save_profile li.top_item ul#level_tagging_save_list li a {
  display: block;
  font-size: 12px;
  color: #000;
  background: transparent;
  padding: 0 7px;
  margin: 0;

}
#level_tagging_save_box ul#sf_save_profile li.top_item ul#level_tagging_save_list li a:hover {
  color: #21A0E1;
  background: transparent;
}

.action-button {
  display: block;
  float: left;
  font-size: 11px;
  line-height: 16px;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #999;
  background: transparent url(../images/button-grey-gradient.gif) 0 0 repeat-x;
}
.action-button:hover {
  color: #555;
  background: transparent url(../images/button-grey-gradient.gif) 0 100% repeat-x;
}