* Containers
----------------------------------------------------------------------------------------------------*/
.container_4 {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  
  
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
  margin-left: 0 !important;
}

.omega {
  margin-right: 0 !important;
}



/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
 
.grid_1, 
.grid_2, 
.grid_3,
.grid_4{
  display:inline;
  float: left;
  position: relative;
  margin-left: 10.0px;
  margin-right: 10.0px;
}


/* Grid >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_4 .grid_1{
  width:220px;
}

.container_4 .grid_2{
  width:460px;
}

.container_4 .grid_3{
  width:700px;
}

.container_4 .grid_4{
  width:940px;
}





/* Prefix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_4 .prefix_1 {
  padding-left:240px;
}

    .container_4 .prefix_2 {
  padding-left:480px;
}

    .container_4 .prefix_3 {
  padding-left:720px;
}



/* Suffix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_4 .suffix_1 {
  padding-right:240px;
}

    .container_4 .suffix_2 {
  padding-right:480px;
}

    .container_4 .suffix_3 {
  padding-right:720px;
}



/* Push Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_4 .push_1 {
  left:240px;
}

    .container_4 .push_2 {
  left:480px;
}

    .container_4 .push_3 {
  left:720px;
}





/* Pull Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

    .container_4 .pull_1 {
  right:240px;
}

    .container_4 .pull_2 {
  right:480px;
}

    .container_4 .pull_3 {
  right:720px;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}


.clearfix:after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}
