

body  {
 font-size: 14px;
 padding:0px;
 margin:0px;
 background-color: #FFFCFA;
}

h1 {
 margin-top: 10px;
 margin-bottom: 14px;
}
#block-webform-client-block-8 h2 {
	display: none;
}

#breadcrumb {
	display: none;
}

#content .section {
  padding: 0;
}


#footer {
	font-size: 0.7em;
}

#footer-columns {
  /*border-top: 4px solid black;*/
}

  #footer-columns p {
    margin-top: 0;
    padding-top: 0.8em;
    line-height: 17px;
  }

#footer-wrapper {
  color: #000000;
}

  #footer-wrapper a:hover,
  #footer-wrapper a {
    color: #449bc9;
    text-decoration: none;
  }


  #footer-wrapper .block {
    margin: 0;
    padding: 0;
  }


/* exceptions to the header border */
div#header_container h2 { border: none; }

#name-and-slogan {
  margin-left: 0;
  margin-bottom: 24px;
  padding-top: 0;
}

#node-6 p {
  font-size: 2em;
}

#site-name a {
  color: #000000;
  font-size: 2.1em;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -0.06em;
  line-height: 1em;
}

#site-slogan {
  display: none;
  font-style: normal;
}

#edit-submitted-email-address {
	width: 460px;
}

#webform-component-email-address {
	float: left;
	padding-right: 20px;
	margin-top: -10px;
}

a {
  color: #449bc9;
  text-decoration: none;
}

body.page-node-6 h1.title {
  display: none;
}


 

h2  {
  border-top: 4px solid black;
  border-bottom: 1px solid black;
  font-size: 1em;
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

body.section-search div#main-wrapper h2 {
	display: none; }

body,
#site-slogan,
#site-name,
.ui-widget,
.comment-form label,
h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.meta {
	display: none;
}

.views-field-company-name a {
 color: black;
 text-decoration: underline;
}

.views-field-company-name a:hover {
 color: #449BC9;
 text-decoration: none;
}



 form#views-exposed-form-Solr-page-1 {
  position: relative;
  top: 0px;
  left: 0px;
  height: 75px; 
}

 form#views-exposed-form-Solr-page-1 input#edit-text {
   height: 25px;
   position: relative;
   left: 0px;
   top: 12px;
   width: 454px; 
}


 form#views-exposed-form-Solr-page-1 input#edit-submit-Solr {
display: none;
}

#node-page-2 p {
    font-size: 2em;
}

.block-user label, .block-user input {
 text-align: left;
 width: 100%;
 padding: 0px;
}

.item-list  ul.pager li {
	margin-left: 0.25em;
	margin-right: 0.25em;
	} 
	

  #main-content-container {
	border-top: 1px solid #999390;
	}
  
  div.block-search input#edit-search-block-form-1 {
 
  }

	div.block-search h2 {
	display: none;
	}
	
	div.block-search label, form.search-form label {
	display: none;
	}
	
	dl.search-results dd { margin-left: 0px; }
	
	.fw-label {display: block; float: left; width: 220px;}
        .section { padding-top: 20px; }	
	span.field-content { font-weight: bold; }
span.field-content { font-weight: normal; }
        .sic_code { font-size: 1.5em; font-weight: bold; }
        .sic_term, .fw-label { font-size: 0.9em; color:rgb(102,97,94); } 
.views-label-address-line-2,
.views-label-address-line-3,
.views-label-address-line-4, 
.views-label-postcode,
.views-label-sic-term-2,
.views-label-sic-term-3,
.views-label-sic-term-4 {
  visibility: hidden;
}

#system_messages {
	color: white;
	font-weight: bold;
	text-align: center;
	}
	
#system_messages div {
	margin_bottom: 1px;
	padding: 5px;
	}	

#system_messages div.status {
  background-color: rgb(89,195,38);
}

#system_messages div.error {
  background-color: rgb(247,47,32);
}

#system_messages div.warn {
  background-color: rgb(79,167,226);
}

h1.company_name {
	/* other statuse will affect the background color */
	color: #4fa7e2;
	font-size: 30px;
	padding: 10px;
	margin: 0px;
	font-weight: bold;
	}

.views-field {
  clear: both;
}
