body  {
 font-size: 14px;
 padding:0px;
 margin:0px;
 background-color: #FFFCFA;
 font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
 
h1 {
 margin-top: 10px;
 margin-bottom: 14px;
 color: #2b2d29;
 font-size: 30px;
 padding: 10px;
 margin: 0px;
 font-weight: bold;
}

h1.company-name {
  color: #4fa7e2;
}
  
#block-webform-client-block-8 h2 {
	display: none;
}

#breadcrumb {
	display: none;
}

#content .section {
  padding: 0;
}


#footer {
	font-size: 0.7em;
}

#footer-columns {
  /*border-top: 4px solid black;*/
}

  #footer-columns p {
    margin-top: 0;
    padding-top: 0.8em;
    line-height: 17px;
  }

#footer-wrapper {
  color: #000000;
}

  #footer-wrapper a:hover,
  #footer-wrapper a {
    color: #449bc9;
    text-decoration: none;
  }


  #footer-wrapper .block {
    margin: 0;
    padding: 0;
  }


#main_wrapper, #right_sidebar, #main_content_container {
	color: #898481;
	}
	
#main_wrapper .views-row, #right_sidebar .block {
	border-bottom: 1px solid #999390;
	border-top: 1px solid #fffcfa;
	} 

#main_wrapper .views-row {
  padding-top: 10px;
  padding-bottom: 10px;	
	}

#right_sidebar .block-apachesolr_passthru h2 {
	line-height: 2em;
	color: #5b5754;
	}

#left_sidebar .block-apachesolr_passthru ul {
	margin: 0px;
	margin-bottom: 10px;
	padding: 0px;
	}

#left_sidebar .block-apachesolr_passthru ul li {
    display: block;
    font-size: 0.9em;
    line-height: 1.4em;
    list-style: none inside none;
    margin: 0.8em 0;
	}	
	
/* First and last exceptions */
	#main_wrapper .views-row-first, #right_sidebar div:first-child {
	border-top: none;
	}
	
	#main_wrapper .views-row-last, #right_sidebar div:last-child {
  border-bottom: none;
  }
  
  

#top_bar {
	background-color: #FFFCFA;
	border-bottom: 1px solid #999390;
	padding-top: 10px;
	padding-bottom: 10px;
	
	}
/* exceptions to the header border */
div#header_container h2 { border: none; }

#name-and-slogan {
  margin-left: 0;
  margin-bottom: 24px;
  padding-top: 0;
}

h2#site-name {
	text-align: right;
	}

h2#site-name:before {
	content: "_";
	}

#site-name a {
  color: #000000;
  font-size: 2.1em;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: -0.06em;
  line-height: 2em;
}

#site-slogan {
  display: none;
  font-style: normal;
}

#edit-submitted-email-address {
	width: 460px;
}

#webform-component-email-address {
	float: left;
	padding-right: 20px;
	margin-top: -10px;
}

a, ul.pager a {
  color: #21A0E1;
  text-decoration: none;
}


h2  {
   font-size: 1em;
  margin: 0px;
}

body.section-search div#main-wrapper h2 {
	display: none; }

body,
#site-slogan,
#site-name,
.ui-widget,
.comment-form label,
input,
h1, h2, h3, h4, h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.meta {
	display: none;
}

.views-field-company-name a {
 color: black;
 text-decoration: underline;
}

.views-field-company-name a:hover {
 color: #449BC9;
 text-decoration: none;
}


#edit-text {
  border: 1px solid #999390;
  }

#left_sidebar #edit-text {
	width: 220px;
  height: 20px;
  
	}

#left_sidebar form#views-exposed-form-Solr-page-1 input#edit-submit-Solr {
display: none;
}

#block-views--exp-Solr-page_1 {
	padding-top: 10px;
	
	}

#left_sidebar #block-views--exp-Solr-page_1 label {
	display: none !important;
	}

#content-top form#views-exposed-form-Solr-page-1 input#edit-submit-Solr  {
    background-color: #4FA7E2;
    border: 0;
    margin: 0;
    color: #FFFFFF;
    font-size: 1.4em;
    font-weight: bold;
    height: 32px;
    margin: 0;
    padding: 0;
    width: 218px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-shadow: 1px 1px 0 #0F6490;
		-webkit-border-top-right-radius: 3px;
		-webkit-border-bottom-right-radius: 3px;
		-moz-border-radius-topright: 3px;
		-moz-border-radius-bottomright: 3px;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
}

#content-top form#views-exposed-form-Solr-page-1 input#edit-submit-Solr:hover {
	background-color: #52B1F2;
	}

#content-top form#views-exposed-form-Solr-page-1 input#edit-submit-Solr:active {
    text-shadow: 0px 0px 0 #0F6490;	
	}
	
#boxes-box-hp_search_blurb {
    background-image: url("../images/intro_arrow.png");
    background-position: 300px 0;
    background-repeat: no-repeat;
    display: block;
    height: 100px;
    line-height: 1.2em;
    margin: 0 0 2em auto;
    padding-right: 220px;
    padding-top: 2em;
    text-align: right;
    width: 300px;
}


#content-top .views-exposed-widget {
	margin: 0;
	padding: 0;
	padding-top: 1em;
	}

#content-top #edit-text {
  width: 470px;
  height: 20px;
  padding: 5px 0px 5px 10px;
  font-size: 1.2em;
  
  }
#content-top .compact-form-label {
    top: 22px;
    left: 10px;
    font-weight: normal;
    font-size: 1.2em;
    color: #B7B2B0;
}

.block-user label, .block-user input {
 text-align: left;
 width: 100%;
 padding: 0px;
}

.item-list  ul.pager li {
	margin-left: 0.25em;
	margin-right: 0.25em;
	} 
	

  #main_content_container {
	border-top: 2px solid #999390;
	}
  
  div.block-search input#edit-search-block-form-1 {
 
  }

	div.block-search h2 {
	display: none;
	}
	
	div.block-search label, form.search-form label {
	display: none;
	}
	
	dl.search-results dd { margin-left: 0px; }
	
	.fw-label {display: block; float: left; width: 220px;}
        .section { padding-top: 20px; }	
	span.field-content { font-weight: bold; }
span.field-content { font-weight: normal; }
        .sic_code { font-size: 1.5em; font-weight: bold; }
        .sic_term, .fw-label { font-size: 0.9em; color:rgb(102,97,94); } 
.views-label-address-line-2,
.views-label-address-line-3,
.views-label-address-line-4, 
.views-label-postcode,
.views-label-sic-term-2,
.views-label-sic-term-3,
.views-label-sic-term-4 {
  visibility: hidden;
}

#system_messages {
	color: white;
	font-weight: bold;
	text-align: center;
	}
	
#system_messages div {
	margin_bottom: 1px;
	padding: 5px;
	}	

#system_messages div.status {
  background-color: rgb(89,195,38);
}

#system_messages div.error {
  background-color: rgb(247,47,32);
}

#system_messages div.warn {
  background-color: rgb(79,167,226);
}


/*.views-field {
  clear: both;
}*/

/* styles for the home apge */

.view-display-id-summary_homepage_page .attachment-after .view-id-ch_solr_transactions {
	float: left;
	width: 220px;
	}

.view-display-id-summary_homepage_page .attachment-after a {
	font-size: 3em;
	}
	
/* Styles for the search results page */

#block-apachesolr_search-currentsearch h2 {
	display: none;
	}

#block-apachesolr_search-currentsearch .results_string {

	font-size: 1.6em;
	color: #999390;
  }
  
#block-apachesolr_search-currentsearch  .results_string em {
  font-size: 1em;
  font-style: normal;
	color: #000000;
	font-weight: bold;
	}
	
#block-apachesolr_search-currentsearch  .search_term {
  font-size: 1em;
  font-style: italic;
  }
  
#block-apachesolr_search-currentsearch .results_filter {
	float: right;
	width: 220px;
	}
	
.company-search-title {
    font-size: 1.6em;
    line-height: 1.2em;
	}
	
/* Classes for liquidated companies */
a.dissolved {
	color: #CCC7C4
	} 


.item-list ul.pager li {
	  margin: 0 2px;
	  padding: 0;	
	}
	
.company_address div {
	font-size: 0.9em;
	line-height: 1.5em;
	}

#main-content .views-row  {
	margin: 0px;
  padding-bottom: 0.8em;
  padding-top: 0.4em;

	}
	
/* Testing the styling of the accounts image */
/* #main-content .views-row  {
  background-image: URL('../images/ACCOUNTS_ICON_2011.png');
  background-position: right center;
  background-repeat: no-repeat
} */

.accounts_icon {
  display: block; float: right; clear: both;
	background-image: URL('../images/ACCOUNTS_ICON_2011.png');
  background-position: right center;
  background-repeat: no-repeat;
  width: 55px;
  height: 80px;
	}

/* Styling for the company details page */

/* for debug 
.company-details-view .views-field {
	border: 1px solid black;
	}*/
	
.company-details-view {
	 background-color: #FFFFFF;
}

.company-details-view .company-details-label {
	font-size: 0.9em;
	}	
	
.company-details-view .field-content {
	  color: #000000;
    font-size: 1.4em;
    font-weight: bold;
	}	

.company-details-view  .views-field {
	clear: none;
	float:left;
	margin: 5px;
	margin-left:10px;
	margin-right:10px;
	}

.company-details-view .company-address,
.company-details-view .company-age, 
.company-details-view .company-number {
    width: 220px;
   
	}

.company-details-view .company-sic-codes {
	  width: 440px;
	}
	
.company-details-view dt { font-size: 0.9em;
     float: left;
     margin-right: 10px;
    }
.company-details-view dd { font-size: 0.8em;
      color: #898481;
      }
      
.company-details-view dl {
  padding-top: 5px;
  padding-bottom: 5px;
 border-bottom:1px solid #999390;
 }
.company-details-view dl:last-child {
	border-bottom: none;
	} 
 
  h2.views-field-accounts-made-up-date * { display: inline; color: #4fa7e2; font-size: 2em; font-weight: normal; }
  h2.views-field-accounts-made-up-date { margin: 1em; }
 /* page tools style */
 
 
 #page_tools { background-color: #FFFCFA; padding-top: 5px;
               padding-bottom: 5px;  
               border-bottom: 1px solid #999390;}
 
 .block-boxes, .block-boxes div, .block-boxes p, #page_tools .block-views, #page_tools .block-views div { display: inline;}
 
 
 #page_tools  .fb_iframe_widget iframe { vertical-align: baseline; }
 
 #page_tools .block-views .content { line-height: 20px; }
 #page_tools .block-views .views-row {   line-height: 20px;
    padding: 0;
    vertical-align: top; }
    
  #page_tools .views-label-company-number  { font-weight: bold; }
  #page_tools .company-uri { padding: 0.1em; border: 1px solid #999390; }
 
 
 
 /* styles for the footer */

#footer_main {
	margin-top: 30px;
	border-top: 2px solid #2B2D29;
  padding-top: 5px;
  padding-bottom: 5px;
	}

#footer_main .block {
	float: left;
	width: 220px;
	margin-left: 10px;
  margin-right: 10px;
	}
	
#footer_main h2 {
	font-weight: normal;
	line-height: 2em;
	font-size: 1em;
	border-bottom: 1px solid #FFFFFF;
	} 

#footer_main .content {
	margin-top: 5px;
	font-size: 0.8em;
	}
	
#footer_main hr {
    margin-left: 0;
    width: 5%;
    background-color: #B2B7B0;
    border: 0 solid gray;
    color: black;
    height: 1px;
}

#footer_main a {
    line-height: 1.4em;
	}
	
#footer_main div {
	  display: block;
	  line-height: 1.5em;
	} 	

/* add some default styles for the node page  */
.node-type-page #main-content h2 { font-size: 1.5em; margin: .75em 0; }
.node-type-page #main-content h3 { font-size: 1.17em; margin: .83em 0; }
.node-type-page #main-content blockquote      { margin-left: 40px; margin-right: 40px; }

.node-type-page #main-content ul,
.node-type-page #main-content ol { margin: 1.12em 0; }

/* Static page styles */
.node-type-page #main_content_container #main-content {
	color: #2B2B29;
	background-color: #FFFCFA;
	}
	
.node-type-page #main-content h2 {
	font-size: 1.6em;
	}	
	
.node-type-page #main-content  p {
	margin-top: 14px;
	margin-bottom: 14px;
	line-height: 1.2em;
	}	
	
.node-type-page #main-content ol {
  list-style-position: inside;
	list-style-type:lower-latin;
	}
	

