@CHARSET "UTF-8";
/* CSS for static pages */


 
body.not-front #main-content .node h2 { 
  font-size: 1.5em; padding-top: 0.5em; line-height: 1.2em;
  }
body.not-front #main-content .node h2 { margin-top: 0.5em; }
#main-content .node h2 blockquote      {     font-style: italic;
    margin-left: 3em;
    margin-right: 3em;
    text-align: justify; }

#main-content .node ul,
#main-content .node ol { margin: 1.12em; }

#main-content .node li { padding-top:2px; padding-bottom: 2px; line-height:1.4em;}


/* Static page styles */
body.not-front #main-content .node {
  color: #2B2B29;
  background-color: #F9F9F9;
  padding-bottom: 20px;
  }
  
 
.node-type-blog #main_content_container #main-content { 
   background-color: #FFFFFF;
}
  
body.not-front #main-content .node h2 {
  font-size: 1.6em;
  clear: both;
  } 
  
body.not-front #main-content .node p  {
  margin-top: 0.5em;
  margin-bottom: 14px;
  line-height: 1.5em;
  } 
  
#main-content .node ol {
  list-style-position: outside;
  list-style-type: decimal;
  margin-left: 28px;
  }

#main-content .node ul {
  list-style-position: outside;
  list-style-type: disc;
  margin-left: 28px;
  }
 
#main-content .node dl {
    margin-top: 2em;
    background-color: #FFFFFF;
    background-image: url("/sites/all/themes/level-theme/level_omega/images/paper_tear.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 27px;
  } 
  
#main-content .node dt {
  font-size: 1.4em;
  font-weight: bold;
  }
  
#main-content .node dt div {
  padding-top: 10px; 
  padding-left: 10px;
  }

#main-content .node dd div {
  padding-top: 10px; 
  padding-right: 10px;
  }


#main-content .node dd {
  padding-bottom: 2em;
  line-height: 1.5em;
  }
  
#main-content .node dd p { padding-top: 0; margin-top: 0; }
  

#main-content .node a.section_link {
     padding-top: 1em;
     display: block;
     color: #000000;
     clear: left;
     font-size: 1.5em;
     font-weight: bold;
   }
  
 #main-content .node div.bus_size h3 {
    position: absolute; 
    bottom: 0; 
  }
  
 #main-content .node div.large h3 {
   font-size: 3em;
  }
   
  #main-content .node div.medium h3 {
   font-size: 2em;
   }